body {
    font-family:  Arial, Helvetica, sans-serif;
  
height: auto;
      
}
#nav_end > div > h3 {
color: #fff;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.15em;

display: inline-block;
padding: 15px 20px;
position: relative;
}
#nav_end > div > h3:after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 8px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
#nav_end > div > h3:hover:after { 
width: 100%; 
left: 0; 
}
#nabar {
height: 300px;
background-color: black;
}
#upper_div > p {
font-size: 40px;
word-spacing: 10px;
color: rgba(0, 0, 0, 0.822);
font-weight: 100;
letter-spacing: 4px;

}

#upper_div  > h3 {
font-weight: 100;
color: rgba(0, 0, 0, 0.699);
}

#main_div {

display: flex;
justify-content: space-between;

height: 100%;
margin-left: 20px;
gap: 2%;
}

#left_div  {
width: 20%;
height: 100%;

}
#right_div {
width: 78%;
height: 100%;
overflow: scroll;


}
#left_div > button {
width: 100%;
height: 50px;
border-radius: 10px;
text-align: center;

}
#left_div > button:hover {
background-color: rgba(0, 0, 0, 0.863);
color: white;
}

#sort_by_price {
display: flex;
justify-content: space-between;
margin-top: 20px;
margin-bottom: -40px;





}

#sort_by_price > p {
 letter-spacing: 2px;
 font-weight: 300;



}
#sort_by_price > p + p {
 font-size: 40px;
margin-top: 0px;

}
#sort_by_price > #pone:hover {
text-decoration: underline;
}




#checkbox_one {
display: flex;
justify-content: space-between;

}

#checkbox_one > div {
width: 10px;
height: 10px;
border: 2px solid black;
border-radius: 50%;
}
#checkbox_one > p {
font-size: 22px;
margin-top: -5px;

} 
#priceappend, #priceappend1, #priceappend2 {

margin-top: 20px;
}
#linklist {
display: flex;
gap: 20px;
}

#linklist > p {
font-size: 25px;
margin-top: 10px;
}
#filter_by_price {
width: 250px;
height: 40px;
border-radius: 10px;
font-size: 16px;
margin-top: 5px;
}
#appenddata {
display: grid;
grid-template-columns: repeat(3, 33%);
gap: 1.8%;
}
#appenddata > div > img {
width: 80%;
}
#appenddata > div > h1 {
color: #ffa500;
font-size: 15px;
}
#appenddata > div > div {

position: relative;
margin-top: -60px;
margin-bottom: 60px;
width: 90%;
text-align: center;
height: 50px;
border-radius: 10px;
border: 2px solid black;
background-color: rgb(243, 241, 237);
opacity: 0%;

}
#appenddata > div > div > p {
color: rgba(0, 0, 0, 0.692);

}
/* #appenddata > div > div {

} */

#appenddata > div:hover > div {


opacity: 100%;

}

  
#nav_top {
 
    height: 60px;
    background-color: #ffb6c16c;
   
    text-align: center;
   }
   #nav_top > p {
      text-align: center;
      font-size: 20px;
      padding: 20px;
      color: rgba(0, 0, 0, 0.603);
    
   }
   
   #nav_middile {
   
   border-bottom: 2px solid black;
      height: 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
   
   }
   #nav_middile > div > input {
      height: 40px;
      text-align: center;
      font-size: 18px;
      border: 1px solid rgba(0, 0, 0, 0.349);
     border-top-left-radius: 10px ;
     border-bottom-left-radius: 10px ;
   }
   
   #nav_middile > div > button {
      height: 46px;
      text-align: center;
      font-size: 18px;
      
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
      margin-left: -20px;
      background-color: black;
      color: white;
      width: 150px;
   }
   
   #nav_middile > div > img {
      width: auto;
      height: 90px;
      margin-top: 15px;
      margin-left: -0px;
   }
   #nav_middile > div > P {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.582);
   }
   
   
   #nav_end {
      
      height: 55px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.897);
      color: white;
   }
   
   #nav_end > div > h3 {
   
      font-size: 20px;
      font-weight: 150;
   }

   #header {
    color: white;
  background-color: rgba(0, 0, 0, 0.856);
    display: flex;
    gap: 3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   overflow: hidden;
   
  
  }
  
  #header_left {
  
    width: 80%;
   display: grid;
   grid-template-columns: repeat(4, 25%);
   
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
    gap: -5px;
  }
  #header_left > div {
  
  
    text-align: center;
    margin: -2px;
    
    
  }
  #header_left > div > h1 {
  
    font-size: 20px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
  
  }
  #header_left > div > h2 {
    font-size: 20px;
    font-weight: 200;
    line-height: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
     
  }
  
  #header_right{
  
    width: 30%;
    margin-top: 25px;
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
  
   
  
  }
  #follow {
    font-size: 20px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif 
     
  }
  #five{
    margin-top: 200px;
  }
  
  #social_media {
    display: flex;
    justify-content: space-between;
  margin-left: 0px;
  }
  .fa {
    
  color: white;
   
  }
  #header_heading {
    font-size: 20px;
    word-spacing: 15px;
  }
  
  #header_input {
    display: flex;
    
   
  }
  
  #header_input > input {
    width: 200px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    font-size: 15px;
  }
  
  
  #header_input > button {
    width: 200px;
    height: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
  
  }
  #header_input > button:hover {
    width: 200px;
    height: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    background-color: rgb(66, 64, 64);
    color: white;
    border: none;
  
  }
  #condition {
    font-size: 15px;
    line-height: 20px;
  }
  
  #symbol {
    display: flex;
    justify-content: space-between;
    gap: 3%;
  }
  
  #symbol > div {
    display: flex;
  
  }
  #symbol > div > #one {
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 40%;
  }
  #symbol >div > #two {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    margin-top: 8px;
  }
  #symbol >div > #three {
    width: 70px;
    height: 60px;
    background-color: white;
    border-radius: 40%;
    
  }
  #symbol >div > #one > h1 {
  text-align: center;
  margin: 10px;
  color: black;
  
  
  }
  #symbol >div > #two > h1 {
  
  text-align: center;
  color: white;
  font-size: 20px;
  }
  
  
  #symbol >div > #three > h1 {
  text-align: center;
  margin: 10px;
  color: black;
  
  
  }
  #essential  {
    overflow: hidden;
    font-size: 12px;
    margin-top: -10px;
  
  
  }
  #essential > h1 {
    font-weight: 900;
  }
  #accept  {
    font-size: 25px;
    font-weight: 200;
  }
  #card {
   background: white;
    width: 100%;
    height: 40px;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
  
  }
  #card > img {
    margin: 2px;
  }
  
  #follow {
    font-size: 24px;
  }
  
  
  